body{
  background-image: url(links/794055_13904-NP9DPE.jpg);
}
.logo{
position: fixed;
top: 2%;
width:300px;
left: 8%;
}

.btn-de{
  background-color: #8C1C85;
  padding: 5px 10px;
  color: white ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 53%;
  left: 37%;
}

#cube-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #F2CEAE;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.face .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

/* Position des points */
.center { top: 45%; left: 45%; }
.top-left { top: 15%; left: 15%; }
.top-right { top: 15%; right: 15%; }
.bottom-left { bottom: 15%; left: 15%; }
.bottom-right { bottom: 15%; right: 15%; }
.center-left { top: 45%; left: 15%; }
.center-right { top: 45%; right: 15%; }

/* Faces du cube */
.front  { transform: translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }
